<!DOCTYPE html>
<html lang="en" data-ng-app="WP5App"> 
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/png" href="images/wikirate_logo.png" />

  <!-- Site Properities -->
  <title>Wikirate :: WP5 Sandbox</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

  <script src="dist/semantic.min.js"></script>
  <script src="main.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body id="home">

	<div data-ng-controller="CompanyController as company"> 
	<div data-ng-controller="RecommendationController as recommendationCtrl">  
	<div data-ng-controller="MetricController as metricCtrl">  


		<!-- metrics modal begins -->
		<div class="ui modal">
		  <i class="close icon"></i>
		  <div class="header">
		    Scraped data for {{metricCtrl.items[0].Company_name}}
		  </div>
		  <div class="content">
		    <div class="ui tiny image">
		      <img data-ng-src="{{metricCtrl.items[0].Logo}}">
          <img data-ng-hide="metricCtrl.items[0].Logo" data-ng-src="images/nophoto.png">
		    </div>
		    <div class="description" style="height: 1000px;">
		      <div class="ui header">
		      	<div class="ui green circular label">{{metricCtrl.items[0].Snippets[0].length}} metrics</div>
		      </div>

		      <div class="ui divided selection list">	
						<div class="ui item" data-ng-repeat="snippet in metricCtrl.items[0].Snippets[0]">
							<div class="content">
							<div class="ui right floated mini label"><a target="_blank" href="{{snippet.source}}">{{snippet.source_name}} {{snippet.citeyear}}</a></div>
							<strong>{{snippet.name}}:</strong> <span class="ui blue">{{snippet.value}}</span>
							</div>
						</div>					      
					</div>

		    </div>
		  </div>
		  <div class="actions">
		    <div class="ui positive right labeled icon button">
		      Close
		      <i class="checkmark icon"></i>
		    </div>
		  </div>
		</div>					
		<!-- metrics modal ends -->



	  <div class="ui inverted masthead segment">
	  	<div class="ui page grid">
		    <div class="column">
			    <div class="ui inverted secondary pointing menu">
		          <div class="header item">v0.17</div>
		          <span class="ui red tag label">business-humanrights.org</span>
		          <div class="right menu">
		            <div class="ui mobile dropdown link item">
		              Visualisations
		              <i class="dropdown icon"></i>
		              <div class="menu">
		                <a class="item" href="Graphs/HumanRightsCompanies/" target="_blank">Companies Relations</a>
		                <a class="item" href="Graphs/StatsGraph/" target="_blank">Overlapped Companies</a>
		                <a class="item" href="Graphs/HumanRightsGraph/" target="_blank">Companies - Topics - Authors</a>
		              </div>
		            </div>
		            <div class="ui dropdown link item">
		              Visualisations
		              <i class="dropdown icon"></i>
		              <div class="menu">
		                <a class="item" href="Graphs/HumanRightsCompanies/" target="_blank">Companies Relations</a>
		                <a class="item" href="Graphs/StatsGraph/" target="_blank">Overlapped Companies</a>
		                <a class="item" href="Graphs/HumanRightsGraph/" target="_blank">Companies - Topics - Authors</a>
		              </div>
		            </div>
		          </div>
		        </div>
		      <img src="images/sandbox.png" alt="A sandbox with an umbrella inside" class="ui medium image">
		      <div class="ui hidden transition information">
		        <h1 class="ui inverted header">Wikirate WP5 sandbox</h1>

						<div class="ui fluid form">
						  <div class="two fields">
						    <div class="field">
						      <label>Company</label>
						      <input autocomplete="off" data-ng-model="company.formData.input_company" name="company" placeholder="Type a company name" type="text">
						    </div>
						    <div class="field">
						      <label>Topic</label>
						      <input autocomplete="off" data-ng-model="company.formData.input_topic" name="topic" placeholder="Type a topic" type="text">
						    </div>
						  </div>
						  <div data-ng-class="company.indicatorStopped ? 'positive ui button' : 'positive ui button loading'" data-ng-click="recommendationCtrl.items=[] && company.getCompanies()"><i class="search icon"></i> Match company</div>
						</div>

		      </div>
		    </div>
	    </div>

	  </div> <!-- masthead -->


	  <div class="ui celled grid">
	    <div class="row">
		    <div class="eight wide middle column">
		      <h2 class="ui header black center aligned"><i class="cloud icon"></i> Matching companies</h2>
		      <div class="ui divider"></div>
		      

		      <div class="ui divided items" data-ng-show="company.items.length > 0">
		        <div class="item" data-ng-repeat="item in company.items">
		          <div class="ui tiny image">
		            <img data-ng-src="{{item.Logo}}">
		            <img data-ng-hide="item.Logo" data-ng-src="images/nophoto.png">
		          	<div class="labels-group">

		          		<div id="{{item.id}}" data-ng-class="metricCtrl.indicator == item.id? 'fluid ui mini basic red button metrics loading' : 'fluid ui mini basic red metrics button'" 
		          			data-ng-click="metricCtrl.getMetrics(item.id)">
		          		  Metrics
		          		</div>

		          	</div>
		          </div>
		          <div class="content">
		            <div class="header">{{item.Company_name}}</div>
		            <a style="word-break:break-all;" data-ng-show="item.Company_Link" href="http://{{item.Company_Link}}" target="_blank" class="ui mini">{{item.Company_Link}}</a>
		            <div class="meta">
		              
		              <div class="ui tiny green label" data-ng-repeat="alias in item.Aliases">
		              	{{alias}}
		              </div>
		              <div class="labels-group" data-ng-show="item.Address">
			              <div  class="ui tiny label">
			              	{{item.Address}}
			              </div>
		              </div>	              
		              <div class="labels-group" data-ng-show="item.Country">
			              <div  class="ui tiny label">
			              	{{item.Country}}
			              </div>
		              </div>
		              
		              <div class="labels-group" data-ng-show="item.Industry">
			              <div  class="ui tiny orange label">
			              	{{item.Industry}}
			              </div>
		              </div>

		            </div>
		            <div class="description">
		              <p></p>
		            </div>
		            <div class="extra">
			            <div data-ng-class="recommendationCtrl.indicator == item.id? 'ui right floated basic blue tiny button loading' : 'ui right floated basic blue tiny button'" 
			            	data-ng-click="recommendationCtrl.getRecommendations(item.id, item.Company_name, company.formData.input_topic)">
			              Recommendations for {{company.formData.input_topic}}
			              <i class="right chevron icon"></i>
			            </div>
		            </div>
		          </div>
		        </div>

		      </div>
		      
		      <div class="ui icon message" data-ng-show="company.items.length == 0">
		        <i class="info icon"></i>
		      	<div class="content">			  
		      	  <div class="header">
		      	    Matching companies will appear in this panel
		      	  </div>
		        </div>
		      </div>

		    </div>
		    <div class="eight wide right column">
					<h2 class="ui header black center aligned"><i class="wizard icon"></i> Filtered sources</h2>
					<div class="ui divider"></div>

					<span data-ng-show="recommendationCtrl.items.length > 0" class="ui blue tag label">
						{{recommendationCtrl.selectedPair}}
					</span>


					<div class="ui accordion divided selection list" data-ng-show="recommendationCtrl.items.length > 0">

						<div class="ui item" data-ng-repeat="item in recommendationCtrl.items">
							<div class="title">
								<div class="ui mini teal label">
  								{{item.Publication_date}}
								</div>
								{{item.Publication_title}}
							</div>
							<div class="content">
								<h4 class="ui header">Abstract</h4>
								<p class="mini">{{item.Publication_text}}</p>
								<h4 class="ui header">Details</h4>
									<strong>Type:</strong> {{item.Publication_type}}<br />
									<strong>Topic:</strong> <div class="ui mini orange label">{{item.Publication_category}}</div><br />
									<strong>Author:</strong> {{item.Publication_author}}<br />
									<strong>Origin:</strong> <a style="word-break:break-all;" href="{{item.Publication_URL}}">{{item.Publication_URL}}</a><br />
									<strong>Citation:</strong> <a style="word-break:break-all;" href="{{item.Publication_citation}}">{{item.Publication_citation}}</a><br />
								<h4 class="ui header">Related topics</h4>
								<div class="ui mini orange label" data-ng-repeat="cat in item.Publication_related_categories track by $index">
									{{cat}}
								</div>
							</div>
						</div>

					</div>
					
					<div class="ui icon message" data-ng-show="recommendationCtrl.selectedPair == ''">
					  <i class="info icon"></i>
						<div class="content">			 
						  <div class="header">
						    Recommendations based on company+topic will appear in this panel
						  </div>
					  </div>
					</div>

		    </div>
	    </div> <!-- row -->
	  </div> <!-- grid -->

	</div> <!-- MetricController -->
	</div> <!-- RecommendationController -->
	</div> <!-- CompanyController -->

  <div class="ui inverted teal footer vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="sixteen wide column">
        <div class="ui two column center aligned stackable grid">
          <div class="column">
            <h5 class="ui inverted header">WP5: Scalable Analytics for User Contributions</h5>
            <p>&copy; 2015, Sandbox for Wikirate by <abbr title="Centre for Research and Technology - Hellas">CERTH</abbr> / <abbr title="Information Technologies Institute">ITI</abbr></p>
          </div>
          <div class="column">
						<!-- <img src="images/wikirate_wp5.png" alt="The logo of wikirate project" /> -->
						<h1 class="ui header" style="color: white;">Wiki<strong>Rate</strong> WP5</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>