<!DOCTYPE html>
<html lang="en" data-ng-app="WP5App"> 
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/png" href="images/wikirate_logo.png" />

  <!-- Site Properities -->
  <title>Wikirate :: WP5 Sandbox</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" type="text/css" href="semantic-ui/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
  <script src="semantic-ui/javascript/semantic.min.js"></script>
  <script src="main.js"></script>

  
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="app.js"></script>
	

</head>
<body id="home">


	<div data-ng-controller="CompanyController as company"> 
	  <div class="ui inverted page grid masthead segment">
	    <div class="column">
	      <div class="inverted secondary pointing ui menu">
	      	<span class="ui teal tag label">Source recommendations</span>
	      	<span class="ui red tag label">business-humanrights.org</span>
	        <a class="header item floated right about">VISUALISATIONS</a>

<!-- 	        <div class="right menu">
	          <div class="ui top right pointing mobile dropdown link item">
	            Menu
	            <i class="dropdown icon"></i>
	            <div class="menu">
	              <a href="http://160.40.50./rockmongo" target="_blank" class="item">MongoDB</a>
	              <a href=class="item">Solr</a>
	              <a class="item">VIS</a>
	            </div>
	          </div>
	          <div class="ui dropdown link item">
	            MongoDB
	            <i class="dropdown icon"></i>
	            <div class="menu">
	              <a href="http://160.40.50./rockmongo" target="_blank" class="item">Wikirate</a>
	            </div>
	          </div>
	          <a class="item">Solr</a>
	          <a class="item">Visual Indexing Service</a>
	        </div>
 -->	        
	      </div>
	 
	      <img src="images/sandbox.png" alt="A sandbox with an umbrella inside" class="ui medium image">
	      <div class="ui hidden transition information">
	        <h1 class="ui inverted header">
	          Wikirate WP5 sandbox <span class="ui circular label">0.17</span>
	        </h1>
	            
	        

			<div class="ui fluid form">
			  <div class="two fields">
			    <div class="field">
			      <label>Company</label>
			      <input data-ng-model="company.formData.input_company" name="company" placeholder="Type a company name" type="text">
			    </div>
			    <div class="field">
			      <label>Topic</label>
			      <input data-ng-model="company.formData.input_topic" name="topic" placeholder="Type a topic" type="text">
			    </div>
			  </div>
			  <div class="positive ui button" data-ng-click="company.getItems()">Get recommendations</div>
			  <img data-ng-hide="company.indicatorStopped" src="images/loading.gif" alt="loading indicator" />
			</div>


	      </div>
	    </div>
	  </div>


	  <div id="menu-one" class="ui celled grid">
	    <div class="row">
	    <div class="eight wide middle column">
	      <h2 class="ui header black center aligned"><i class="black url icon"></i> Matching companies</h2>
	      <div class="ui divider"></div>
	      
	      <p data-ng-repeat="item in company.items">{{item.Company_name}}</p>

	      <div class="ui icon message" data-ng-show="company.items.length == 0">
	        <i class="info icon"></i>
	      	<div class="content">			  
	      	  <div class="header">
	      	    Matching company names appear in this panel
	      	  </div>
	        </div>
	      </div>


	    </div>
	    <div class="eight wide right column">
	      <h2 class="ui header black center aligned"><i class="black archive icon"></i> Recommended sources (company + source)</h2>
	      <div class="ui divider"></div>

<!-- 				<div style="text-align:center"><img data-ng-hide="searchIndicatorStopped" src="images/search_loading.gif" alt="loading indicator" /></div>
				<div class="mediaresults">
					<div class="ui divided selection list">
					  <div class="item" data-ng-repeat="item in media">
					  	<div class="right floated tiny inversed ui button"><a target="_blank" href="http://www.wikirate.org/{{item.name}}">See relative claim</a></div>							    
					    <img class="ui small rounded image" data-ng-src="{{item.url}}">
					    <div class="content">
					      <div class="header">{{item.claimId}}</div>
					    </div>
					  </div>
					</div>
				</div>

				<div class="keywordsresults">
					<div class="ui divided selection list">
					  <div class="item" data-ng-repeat="item in keywords">
						<div class="right floated tiny inversed ui button"><a target="_blank" href="http://www.wikirate.org/{{item.name}}">See relative claim/source</a></div>							    
					    <i class="archive icon"></i>
					    <div class="content">
					      <div class="header"><span class="ui rounded label">{{item.id}}</span> {{item.title}}</div>
						  <p>
						  <div class="ui small images">
						  	<img class="rounded ui image" data-ng-repeat="img in item.images" ng-src="{{img.url}}" />
						  </div>						      
						  </p>
					      Original URL: <a target="_blank" href="{{item.url}}">{{item.url}}</a><br />
					    </div>
					  </div>
					</div>
				</div>
 -->	

				<div class="ui icon message">
				  <i class="info icon"></i>
					<div class="content">			 
					  <div class="header">
					    Recommended sources appear in this panel
					  </div>
				  </div>
				</div>

	    </div>
	    </div>
	  </div>

	</div> <!-- controller -->






  <div class="ui inverted teal page grid segment">
    <div class="sixteen wide column">
      <div class="ui two column stackable grid">
        <div class="column">
          <p>WP5: Scalable Analytics for User Contributions<br />
          &copy; 2015, Sandbox for Wikirate by <abbr title="Centre for Research and Technology - Hellas">CERTH</abbr> / <abbr title="Information Technologies Institute">ITI</abbr></p>
        </div>
        <div class="right floated aligned column">
			<img src="images/wikirate_wp5.png" alt="The logo of wikirate project" />
        </div>
      </div>
    </div>
  </div>

  <!-- About WP5 sandbox -->
	<div class="ui about modal">
	  <i class="close icon"></i>
	  <div class="header">
	    About Wikirate WP5 Sandbox
	  </div>
	  <div class="content">
	  	<span class="ui circular black label">version 0.17</span>
	  	<p>A testing platform to ensure the proper functionality of WP5 services prior to Wikirate incorporation by CERTH/ITI</p>
	  	<p>A <a href="http://160.40.51.30:8082/CompaniesCoOccurrences/index_2.php">visulization of companies </a> from business-humanrights.org is under development</p>
	  </div>
	  <div class="actions">
	    <div class="ui green button">OK</div>
	  </div>
	</div>




</body>

</html>
